@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
#card::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge, Firefox */
#card {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
